{% extends 'base.html' %}
{% load static %}


{% block content %}

<main>
    <!-- Start Hero section -->
    <section class="about-hero-section ps-3 pe-3 ps-md-0 pe-md-0">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="text-white mb-10">About Us</h1>
                <div class="title-border"></div>
            </div>
        </div>
    </section>
    <!-- End Hero Section -->
    <!-- Start About Us Section -->
    <section class="about-section about-section-wrap pt-100 pb-100 ps-3 pe-3 ps-md-0 pe-md-0">
        <div class="container">
            <div class="row">
                <div
                    class="about-img col-md-6  col-12 ps-0 pe-0 ps-md-3 pe-md-3  text-center d-flex align-items-center justify-content-center">
                    <img src="{% static 'img/other/3.png' %}" alt="about-image">
                    <span></span>
                </div>
                <div
                    class="about-content col-md-6 col-12 ps-0 pe-0 ps-md-3 pe-md-3 d-flex flex-column align-items-start justify-content-center pt-3 pt-md-0">
                    <h6 class="mb-3">[ About MySpace ]</h6>
                    <h2 class="mb-3">We Are Passionate And Always Produce Better Results For Architecture & Interior
                        Designer</h2>
                    <span class="about-divider"></span>
                    <p>At the heart of our endeavors lies an unwavering passion that fuels our commitment to delivering
                        superior results for architecture and interior design. We pride ourselves on infusing every
                        project
                        with a dedication to excellence, ensuring spaces not only meet but exceed expectations. Join us
                        on
                        a journey where passion meets precision, and design aspirations come to life.</p>
                    <div class="about-list">
                        <ul>
                            <li>
                                <i class="fa-solid fa-check"></i>Passionate Expertise
                            </li>
                            <li>
                                <i class="fa-solid fa-check"></i>Excellence in Results
                            </li>
                            <li>
                                <i class="fa-solid fa-check"></i>Design Innovation
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                Leading MySpace Interiors, Mr. K. Praveen Kumar orchestrates a dynamic team of skilled architects,
                interior designers, financial experts, and project managers. With extensive experience, he has steered
                the successful realization of prestigious projects, showcasing innovation and modern design in acclaimed
                residential spaces, commercial ventures, and exclusive gated communities, consistently setting new
                standards in upscale interiors. Renowned for his contemporary design sensibilities, Mr. Praveen is
                dedicated to transforming spaces with an unwavering commitment to excellence.
            </div>
        </div>
    </section>
    <!-- End About Us Section -->
    <!-- start Our Professional Section -->
    <section class="professional-section strategy-section  pt-100 pb-100 ps-3 pe-3 ps-md-0 pe-md-0">
        <div class="container">
            <div class="row justify-content-center">
                <h6 class="mb-3 text-center ">[ Strategy ]</h6>
                <h2 class="text-center mb-3 ">Our Philosophy</h2>
                <span class="about-divider"></span>
                <div class="row professional-box justify-content-center pt-40 ps-0 pe-0">
                    <div class="col-12 col-lg-4 col-md-6  ps-0 pe-0 ps-md-2 pe-md-2 wow slideInUp"
                        data-wow-duration="1s" data-wow-delay=".1s">
                        <div class="professional-box-wrap">
                            <div class="professional-box-item">
                                <img src="{% static 'img/modular-living/7.png' %}" alt="our-mission">
                                <h2 class="text-white">Our Mission</h2>
                            </div>
                            <div class="professional-content">
                                <p class="text-white">
                                    MySpace Interiors is committed to an unwavering focus on customer satisfaction,
                                    prioritizing our associates' benefits. On a mission to achieve mutually attainable
                                    goals, we pioneer a journey marked by innovative ideas tailored for holistic
                                    customer contentment, ensuring an elevated experience in every interior project we
                                    undertake.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-md-6  ps-0 pe-0 ps-md-2 pe-md-2 pt-3 pt-md-0 wow slideInUp"
                        data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="professional-box-wrap">
                            <div class="professional-box-item">
                                <img src="{% static 'img/modular-living/8.png' %}" alt="our-mission">
                                <h2 class="text-white">Our Vision</h2>
                            </div>
                            <div class="professional-content">
                                <p class="text-white">
                                    MySpace Interiors aspires to lead in delivering cutting-edge interior design
                                    services, reshaping industry benchmarks with intelligent solutions characterized by
                                    world-class quality and design aesthetics.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-md-6  ps-0 pe-0 ps-md-2 pe-md-2 pt-3 pt-lg-0 wow slideInUp"
                        data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="professional-box-wrap">
                            <div class="professional-box-item">
                                <img src="{% static 'img/modular-living/9.png' %}" alt="our-mission">
                                <h2 class="text-white">Our Values</h2>
                            </div>
                            <div class="professional-content">
                                <p class="text-white">
                                    At MySpace Interiors, commitment, quality, transparency, affordability, and timely
                                    delivery are the pillars that define our unwavering value system.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Professional Section -->
    <!-- Start Testimonial Section -->
    <section class="testimonials-wrap pt-100 pb-100 ps-3 pe-3 ps-md-0 pe-md-0">
        <div class="container">
            <div class="row justify-content-center">
                <h6 class="mb-3 text-center wow zoomIn">[ Testimonial ]</h6>
                <h2 class="text-center mb-3  wow zoomIn color-secondary">What People Says?</h2>
                <span class="about-divider  wow zoomIn"></span>
                <div class="testimonials-slider pt-40 d-flex flex-column flex-md-row justify-content-around ps-0 pe-0">
                    <div class="testimonial-image col-lg-6 col-md-6 col-12 d-flex align-items-center wow slideInLeft">
                        <img src="{% static 'img/people-images.png' %}" alt="people-images">
                    </div>
                    <div class="testimonial-wrapper col-lg-5 col-md-6 col-12 wow slideInRight">
                        <div class="testimonial-slide">
                            <p> "I am extremely satisfied with the interior design services provided by Myspace. They
                                transformed my space into a beautiful and functional environment. The attention to
                                detail and
                                creative approach exceeded my expectations. Highly recommended!"</p>
                            <div class="testimonial-slide-wrap d-flex align-content-start justify-content-start">
                                <!-- <img src="{% static 'img/silverster-scott-image.png' %}" alt="silverster-scott-image"> -->
                                <div class="testimonial-text d-flex justify-content-center flex-column">
                                    <h5 class="mb-0 text-black">Nagendhar Reddy</h5>
                                    <span class="text-black">Interior Design
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-slide">
                            <p> "Myspace brought life and personality to my home through their outstanding interior
                                designing services. The team's creativity and ability to capture my vision made the
                                entire
                                process enjoyable. Thank you, Myspace, for enhancing the beauty of my living space!"</p>
                            <div class="testimonial-slide-wrap d-flex align-content-start justify-content-start">
                                <div class="testimonial-text d-flex justify-content-center flex-column">
                                    <h5 class="mb-0 text-black">Nandamuri Mohana Krishan </h5>
                                    <span class="text-black">Interior Design</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-slide">
                            <p> Immersing life and character into my home, MySpace's exceptional interior design
                                services
                                exceeded my expectations. The team's creativity and adeptness in translating my vision
                                into
                                reality made the entire journey delightful. Grateful to MySpace for elevating the charm
                                of my
                                living space!"
                            </p>
                            <div class="testimonial-slide-wrap d-flex align-content-start justify-content-start">
                                <div class="testimonial-text d-flex justify-content-center flex-column">
                                    <h5 class="mb-0 text-black">Chandrashekar Rao</h5>
                                    <span class="text-black">Interior Design</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonial Section -->
    <!-- Start Counter Section -->
    <section class="counter-section pt-80 pb-80 ps-3 pe-3 ps-md-0 pe-md-0">
        <div class="container">
            <div class="row">
                <div class="col-6 col-lg-3 col-md-6 text-center ps-0 pe-0 ps-md-2 pe-md-2 wow slideInUp"
                    data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="counter-section-text text-white d-flex align-items-center  justify-content-center  ">
                        <h2 class="count d-block" data-number="100"></h2>
                        <span>+</span>
                    </div>
                    <h5 class="text-white mb-0">Happy Client</h5>
                </div>
                <div class="col-6 col-lg-3 col-md-6 text-center ps-0 pe-0 ps-md-2 pe-md-2 wow slideInUp"
                    data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="counter-section-text text-white d-flex align-items-center  justify-content-center  ">
                        <h2 class="count d-block" data-number="8"></h2>
                        <span>+</span>
                    </div>
                    <h5 class="text-white mb-0">Year Of Experience</h5>
                </div>
                <div class="col-6 col-lg-3 col-md-6 text-center pt-3 pt-lg-0 ps-0 pe-0 ps-md-2 pe-md-2 wow slideInUp"
                    data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="counter-section-text text-white d-flex align-items-center  justify-content-center  ">
                        <h2 class="count d-block" data-number="80"></h2>
                        <span>+</span>
                    </div>
                    <h5 class="text-white mb-0">Successful Project</h5>
                </div>
                <div class="col-6 col-lg-3 col-md-6 text-center pt-3 pt-lg-0 ps-0 pe-0 ps-md-2 pe-md-2 wow slideInUp"
                    data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="counter-section-text text-white d-flex align-items-center  justify-content-center  ">
                        <h2 class="count d-block" data-number="15"></h2>
                        <span>+</span>
                    </div>
                    <h5 class="text-white mb-0">Award Achievement</h5>
                </div>
            </div>
        </div>
    </section>
    <!-- End Counter Section -->
    <!-- Start Blog Section -->
    <!-- <section class="blog-section pt-100 pb-100 ps-3 pe-3 ps-md-0 pe-md-0">
        <div class="container">
            <div class="row justify-content-center">
                <h6 class="mb-3 text-center wow slideInLeft">[ Our Blog ]</h6>
                <h2 class="text-center mb-3 wow slideInRight">Read Our Latest News</h2>
                <span class="about-divider wow zoomIn"></span>
                <div class="blog-wrap pt-40 ps-0 pe-0 d-flex flex-column flex-md-row">
                    <div class="col-md-4 col-12 ps-md-2 pe-md-2 ps-0 pe-0">
                        <div class="card align-content-center">
                            <img src="{% static 'img/apartment-renovation-blog.jpg' %}"
                                class="card-img-top mb-20 rounded-0" alt="apartment-renovation-blog">
                            <div class="card-body p-0">
                                <h4 class="card-title">Donec ultrices tincidunt </h4>
                                <p class="card-text mb-3">Egestas tellus rutrum tellus pellentesque. Eu augue ut lectus
                                    arcu
                                </p>
                                <a href="single-blog.html" class="btn-primary blog-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 ps-md-2 pe-md-2 ps-0 pe-0 pt-3 pt-md-0">
                        <div class="card align-content-center">
                            <img src="{% static 'img/architecture-home-image.jpg' %}"
                                class="card-img-top mb-20 rounded-0" alt="architecture-home-image">
                            <div class="card-body p-0">
                                <h4 class="card-title">Non blandit massa enim</h4>
                                <p class="card-text mb-3">Sed tempus urna et pharetra pharetra massa massa ultricies.
                                </p>
                                <a href="single-blog.html" class="btn-primary blog-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 ps-md-2 pe-md-2 ps-0 pe-0 pt-3 pt-md-0">
                        <div class="card align-content-center">
                            <img src="{% static 'img/best-living-room-image.jpg' %}"
                                class="card-img-top mb-20 rounded-0" alt="best-living-room-image.jpg' %}">
                            <div class="card-body p-0">
                                <h4 class="card-title">Ut faucibus pulvinar</h4>
                                <p class="card-text mb-3">Penatibus et magnis dis parturient montes. Proin fermentum leo
                                    vel
                                </p>
                                <a href="single-blog.html" class="btn-primary blog-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End Blog Section -->
</main>

{% endblock %}