{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <!-- Start Hero section -->
    <section class="about-hero-section contact-hero-section ps-3 pe-3 ps-md-0 pe-md-0">
       <div class="container">
          <div class="row justify-content-center">
             <h1 class="text-white mb-10">Contact Us</h1>
             <div class="title-border"></div>
          </div>
       </div>
    </section>
    <!-- End Hero Section -->
    <!-- Start Contact section -->
    <section class="contact-section touch-contact-section  pt-100 pb-100 ps-3 pe-3 ps-md-0 pe-md-0">
       <div class="container">
          <div class="row">
             <div class="d-flex flex-column flex-md-row  ps-0 pe-0">
                <div class="col-lg-6 col-md-6 col-12 icon-box-wrapper ps-md-0 pe-md-3 ps-0 pe-0 wow slideInLeft">
                   <h2 class="text-start mb-3 ps-0 pe-0 wow slideInLeft">Get in Touch With us</h2>
                   <p class="mb-3 wow slideInLeft">Give us a call or drop by anytime, we endeavour to answer all
                      enquiries within 24 hours on business days. We will be happy to answer your questions.
                   </p>
                   <div class="icon-box-item d-flex col-12">
                      <i class="fa-solid fa-location-dot"></i>
                      <div class="icon-box-text d-flex flex-column align-items-start justify-content-center">
                         <h5>Location</h5>
                         <a href="https://maps.app.goo.gl/BE8mjm8UcMoTUjnL6" target="_blank"
                            class="color-primary">A-49,Ashirwad Building,Begumpet, Hyderabad </a>
                      </div>
                   </div>
                   <div class="icon-box-item d-flex col-12 mt-4">
                      <i class="fa-solid fa-phone"></i>
                      <div class="icon-box-text d-flex flex-column align-items-start justify-content-center">
                         <h5>Phone Number</h5>
                         <span>Call Now: </span>
                         <a href="tel:+919618567000" class="color-primary"> +91 9618567000
                         </a>
                         <a href="tel:+919642567000 " class="color-primary"> +91 9642567000
                         </a>
                      </div>
                   </div>
                   <div class="icon-box-item d-flex col-12 mt-4">
                      <i class="fa-solid fa-envelope"></i>
                      <div class="icon-box-text d-flex flex-column align-items-start justify-content-center">
                         <h5>Email Us</h5>
                         <a href="mailto:info@myspaceconstructions.com"
                            class="text-black color-primary">info@myspaceconstructions.com</a>
                      </div>
                   </div>
                </div>
                <div class="col-lg-5 col-md-6 col-12 contact-form-wrap mt-4 mt-md-0 ms-md-3 ms-0 wow slideInRight">
                   <h4 class="text-black pb-20">Send Your Message</h4>
                   <p class="mb-3">Please feel free to get in touch with us using the contact form below. We’d love to
                      hear for you.</p>
                   <form id="contact-form" method="POST" action="{% static 'mail.php' %}" class="contact-form col-12">
                      <div class="form-row">
                         <div class="form-row d-flex flex-column flex-lg-row">
                            <div class="form-group col-lg-6 col-12 pe-0 pe-lg-2">
                               <input type="text" class="form-control" name="contact-name" id="contact-name"
                                  placeholder="Full Name" required>
                            </div>
                            <div class="form-group col-lg-6 col-12 pe-0 pe-lg-2">
                               <input type="email" class="form-control" name="contact-email" id="contact-email"
                                  placeholder="Email Address" required>
                            </div>
                         </div>
                         <div class="form-row col-lg-12">
                            <div class="form-group ">
                               <input type="tel" class="form-control" name="contact-phone" id="contact-phone"
                                  placeholder="Phone Number" required>
                            </div>
                            <div class="form-group col-md-12">
                               <textarea class="form-control" name="contact-message" id="contact-message"
                                  placeholder="Message Here" rows="5"></textarea>
                            </div>
                         </div>
                         <div class="form-group text-start col-12">
                            <button class="btn  w-100" name="submit" type="submit">Submit</button>
                         </div>
                      </div>
                      <p id="contact-form-status"></p>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- End Contact section -->
    <!-- Start Map Section -->
    <section class="map-section-wrap">
       <div class="map-section">
          <iframe
             src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.3687411097767!2d78.47369929999999!3d17.4420565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9bc516ca0b0b%3A0x3a615f0ff492b8d3!2sMyspace%20Constructions!5e0!3m2!1sen!2sin!4v1708877262986!5m2!1sen!2sin"
             style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       </div>
    </section>
    <!-- End Map Section -->
 </main>

{% endblock %}