{% extends 'base.html' %}
{% load static %}


{% block content %}

<main>
    <!-- Start Hero section -->
    <section class="about-hero-section services-hero-section ps-3 pe-3 ps-md-0 pe-md-0">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="text-white mb-10">Services</h1>
                <div class="title-border"></div>
            </div>
        </div>
    </section>
    <!-- End Hero Section -->
    <!-- Start Services Section -->
    <section class="services-section services-wrap-section pt-100 pb-100 ps-3 pe-3 ps-md-0 pe-md-0">
        <p class="text-center container">Welcome to a world where your space transforms into a reflection of your
            dreams. Our curated services blend creativity, functionality, and expertise to bring your vision to
            life. Explore our offerings and let us redefine your surroundings with unparalleled style and comfort.
        </p>
        <div class="section-box d-flex flex-wrap justify-content-center pt-40 ps-0 pe-0 container">

            <div class="col-lg-4 col-md-6 col-12 pe-0 ps-md-3 pe-md-3 wow slideInUp" data-wow-duration="1s"
                data-wow-delay=".1s"
                style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: slideInUp;">
                <div class="card bg-self-primary">
                    <div class="card-title-wrap d-flex align-items-center service-icon">
                        <i class="fa-solid fa-pen-ruler m-0"></i>
                    </div>
                    <div class="card-body mt-20 p-0">
                        <h4 class="mb-3 text-center color-white">Lighting Design</h4>
                        <span class="card-divider mb-3"></span>
                        <div class="card-list d-flex flex-column">
                            <span class="color-white text-center">
                                Illuminate your spaces with our bespoke lighting design service, where ambiance
                                meets
                                innovation. From elegant fixtures to curated lighting plans, we craft brilliance
                                tailored to enhance every corner of your environment.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 pe-0 ps-md-3 pe-md-3 wow slideInUp" data-wow-duration="1s"
                data-wow-delay=".1s"
                style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: slideInUp;">
                <div class="card bg-self-white">
                    <div class="card-title-wrap d-flex align-items-center service-icon color-primary">
                        <i class="fa-solid fa-lightbulb m-0 "></i>
                    </div>
                    <div class="card-body mt-20 p-0">
                        <h4 class="mb-3 text-center color-primary">Custom Solutions</h4>
                        <span class="card-divider mb-3"></span>
                        <div class="card-list d-flex flex-column">
                            <span class="color-primary text-center">
                                Tailor your space to perfection with our custom solutions service, where unique
                                designs
                                meet your distinct preferences. From personalized furnishings to bespoke decor, we
                                bring your vision to life with unparalleled craftsmanship.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 pe-0 ps-md-3 pe-md-3 wow slideInUp" data-wow-duration="1s"
                data-wow-delay=".1s"
                style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: slideInUp;">
                <div class="card bg-self-primary">
                    <div class="card-title-wrap d-flex align-items-center service-icon">
                        <i class="fa-solid fa-rocket"></i>
                    </div>
                    <div class="card-body mt-20 p-0">
                        <h4 class="mb-3 text-center color-white">Project Planning</h4>
                        <span class="card-divider mb-3"></span>
                        <div class="card-list d-flex flex-column">
                            <span class="color-white text-center">
                                Empower your vision with our meticulous project planning service, where precision
                                meets
                                creativity. From concept to execution, we navigate every detail to ensure your
                                project
                                unfolds seamlessly and exceeds expectations.</span>
                        </div>
                    </div>
                    <!-- <div class="btn-center">
                         <a href="services.html" class="btn">View All</a>
                      </div> -->
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-12 pe-0 ps-md-3 pe-md-3 wow slideInUp" data-wow-duration="1s"
                data-wow-delay=".1s"
                style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: slideInUp;">
                <div class="card bg-self-white">
                    <div class="card-title-wrap d-flex align-items-center service-icon color-primary">
                        <i class="fa-solid fa-pen-nib"></i>
                    </div>
                    <div class="card-body mt-20 p-0">
                        <h4 class="mb-3 text-center color-primary">Design Planning</h4>
                        <span class="card-divider mb-3"></span>
                        <div class="card-list d-flex flex-column">
                            <span class="color-primary text-center">
                                Navigate the journey of transforming your space with precision and creativity
                                through our Design Planning service. From concept to execution, we craft a tailored
                                roadmap to bring your vision to life seamlessly.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 pe-0 ps-md-3 pe-md-3 wow slideInUp" data-wow-duration="1s"
                data-wow-delay=".1s"
                style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: slideInUp;">
                <div class="card bg-self-primary">
                    <div class="card-title-wrap d-flex align-items-center service-icon">
                        <i class="fa-solid fa-chair"></i>
                    </div>
                    <div class="card-body mt-20 p-0">
                        <h4 class="mb-3 text-center color-white">Furniture & Decor</h4>
                        <span class="card-divider mb-3"></span>
                        <div class="card-list d-flex flex-column">
                            <span class="color-white text-center">
                                Elevate your space with our Furniture and Decor service, where curated selections
                                meet your style aspirations. Discover a fusion of functionality and aesthetics,
                                transforming your home into a personalized haven.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 pe-0 ps-md-3 pe-md-3 wow slideInUp" data-wow-duration="1s"
                data-wow-delay=".1s"
                style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: slideInUp;">
                <div class="card bg-self-white">
                    <div class="card-title-wrap d-flex align-items-center service-icon color-primary">
                        <i class="fa-solid fa-building"></i>
                    </div>
                    <div class="card-body mt-20 p-0">
                        <h4 class="mb-3 text-center color-primary">Urban Design</h4>
                        <span class="card-divider mb-3"></span>
                        <div class="card-list d-flex flex-column">
                            <span class="color-primary text-center">
                                Discover urban sophistication with our Urban Design service, merging modern
                                aesthetics seamlessly into city living. Elevate your space with style and
                                functionality, curated for urban lifestyles.</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center pt-50 ps-0 pe-0">
            <a href="contact" class="btn">Contact Us</a>
        </div>
    </section>
    <!-- End Services Section -->
    <!-- Start Counter Section -->
    <section class="counter-section pt-80 pb-80 ps-3 pe-3 ps-md-0 pe-md-0">
        <div class="container">
            <div class="row">
                <div class="col-6 col-lg-3 col-md-6 text-center ps-0 pe-0 ps-md-2 pe-md-2 wow slideInUp"
                    data-wow-duration="1s" data-wow-delay=".1s">
                    <div
                        class="counter-section-text text-white d-flex align-items-center  justify-content-center  ">
                        <h2 class="count d-block" data-number="100"></h2>
                        <span>+</span>
                    </div>
                    <h5 class="text-white mb-0">Happy Client</h5>
                </div>
                <div class="col-6 col-lg-3 col-md-6 text-center ps-0 pe-0 ps-md-2 pe-md-2 wow slideInUp"
                    data-wow-duration="1s" data-wow-delay=".2s">
                    <div
                        class="counter-section-text text-white d-flex align-items-center  justify-content-center  ">
                        <h2 class="count d-block" data-number="8"></h2>
                        <span>+</span>
                    </div>
                    <h5 class="text-white mb-0">Year Of Experience</h5>
                </div>
                <div class="col-6 col-lg-3 col-md-6 text-center pt-3 pt-lg-0 ps-0 pe-0 ps-md-2 pe-md-2 wow slideInUp"
                    data-wow-duration="1s" data-wow-delay=".3s">
                    <div
                        class="counter-section-text text-white d-flex align-items-center  justify-content-center  ">
                        <h2 class="count d-block" data-number="80"></h2>
                        <span>+</span>
                    </div>
                    <h5 class="text-white mb-0">Successful Project</h5>
                </div>
                <div class="col-6 col-lg-3 col-md-6 text-center pt-3 pt-lg-0 ps-0 pe-0 ps-md-2 pe-md-2 wow slideInUp"
                    data-wow-duration="1s" data-wow-delay=".4s">
                    <div
                        class="counter-section-text text-white d-flex align-items-center  justify-content-center  ">
                        <h2 class="count d-block" data-number="15"></h2>
                        <span>+</span>
                    </div>
                    <h5 class="text-white mb-0">Award Achievement</h5>
                </div>
            </div>
        </div>
    </section>
    <!-- End Counter Section -->
    <!-- start Our Professional Section -->
    <!-- <section class="professional-section  pt-100 pb-100 ps-3 pe-3 ps-md-0 pe-md-0">
        <div class="container">
            <div class="row justify-content-center">
                <h6 class="mb-3 text-center ps-0 pe-0">[ Our Professional ]</h6>
                <h2 class="text-center mb-3 ps-0 pe-0">Meet Our Skilled Team</h2>
                <span class="about-divider"></span>
                <div class="row professional-box pt-40 ps-0 pe-0">
                    <div class="col-12 col-lg-3 col-md-6  ps-0 pe-0 ps-md-2 pe-md-2  wow slideInUp"
                        data-wow-duration="1s" data-wow-delay=".1s">
                        <div class="professional-box-wrap">
                            <img src="images/ronald-pelton.jpg" alt="ronald-pelton">
                            <div class="professional-content">
                                <h4 class="text-white">Ronald Pelton</h4>
                                <p class="text-white">Founder</p>
                            </div>
                        </div>
                    </div>
                    <div class="professional-item col-12 col-lg-3 col-md-6 ps-0 pe-0 ps-md-2 pe-md-2 wow slideInUp"
                        data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="professional-box-wrap">
                            <img src="images/ethan-dashwood.jpg" alt="ethan-dashwood">
                            <div class="professional-content">
                                <h4 class="text-white">Ethan Dashwood </h4>
                                <p class="text-white">CEO</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6  pt-3 pt-md-0 ps-0 pe-0 ps-md-2 pe-md-2 wow slideInUp"
                        data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="professional-box-wrap">
                            <img src="images/torsten-schulze.jpg" alt="torsten-schulze">
                            <div class="professional-content">
                                <h4 class="text-white">Torsten Schulze</h4>
                                <p class="text-white">Co-Founder</p>
                            </div>
                        </div>
                    </div>
                    <div class="professional-item col-12 col-lg-3 col-md-6  ps-0 pe-0 ps-md-2 pe-md-2 wow slideInUp"
                        data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="professional-box-wrap">
                            <img src="images/paulo-costa.jpg" alt="paulo-costa">
                            <div class="professional-content">
                                <h4 class="text-white">Paulo Costa </h4>
                                <p class="text-white">General Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End Our Professional Section -->
</main>

{% endblock %}